body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
}

main {
  padding: 20px;
}

.product-card {
  border: 1px solid #e0e0e0;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
  max-width: 900px;
  margin: 20px auto;
  background-color: #fff;
}

.product-name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.product-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image-slider {
  position: relative;
  overflow: hidden;
  max-width: 400px;
  max-height: 300px;
}

.slider-image {
  display: flex;
  transition: transform 0.5s ease;
  aspect-ratio: 4/3;
  width: 100%;
}

.slider-image img {
  width:100%;
  height: auto;
  border-radius: 8px;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.product-info {
  flex: 1;
}

.option-select {
  margin-bottom: 20px;
}

.add-to-cart-btn {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #e07b03;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width:160px;
  width: 100%;
  font-size: 16px;
  display: block;
  margin-left: auto;
}

.add-to-cart-btn:hover {
  background-color: #a45903;
}

.color-radio-group {
  display: flex;
  gap:8px;
}

.color-radio-item {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  position: relative;
}

.radio-indicator::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e07b03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-price {
  display: block;
  font-size: 32px;
  color: #e07b03;
  flex: 1;
  text-align: end;
}

@media (max-width: 768px) {
  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .image-slider {
    width: 100%;
    height: auto;
  }

  .add-to-cart-btn {
    width: 100%;
  }
}
